[submodule "ext/k"]
	path = ext/k
	url = https://github.com/kframework/k.git
[submodule "ext/blockchain-k-plugin"]
	path = ext/blockchain-k-plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin.git
[submodule "ext/libff"]
	path = ext/libff
	url = https://github.com/scipr-lab/libff.git
